li a {
	color: green;
}

body {
	background: white url("images/background.gif") no-repeat;
	height: 100%;
	background-position: center;
	/* background-repeat: no-repeat; */
	background-size: cover;
}

a {
	font-size: 250%;
}
